/* v1.0 | 20080212 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*My CSS Start*/

ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
}

ul li a {
    color: #F9F59A;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}

ul li:hover {
    background-color: #ba7947;
}

ul li ul li:hover {
    background-color: #F9F59A;
}

ul li ul li:hover a {
    color: #9A5927;
}

.list {
    position: fixed;
    background-color: #9A5927;
    top: 0px;
    width: 100%;
    height: 50px;
}

img {
    display: block;
    margin: 20px auto;
    line-height: 180%;
}

.devide {
    width: 100%;
    height: 50px;
    margin: auto;
}

article {
    margin: auto;
    width: 80%;
}

h4 {
    text-align: center;
    font-size: 18pt;
    line-height: 200%;
}

h2 {
    text-align: center;
    border: 0.3em dashed #F2783F;
    font-size: 18pt;
    font-weight: bold;
    line-height: 200%;
}

p {
    font-size: normal;
    padding: 1em;
    letter-spacing: 0.2em;
    line-height: 150%;
}

#wrapper {
    
    margin: auto;
    width: 100%;
}

#good {
    float: left;
    width: 30%;
    height: 100%;
    overflow: auto;
    background-color: #FFF5CB;
}



#feature {
    
    float: right;
    width: 30%;
    height: 100%;
    overflow: auto;
    background-color: #FFF5CB;
}

#bad {
    margin: auto;
    width: 30%;
    height: 100%;
    overflow: auto;
    background-color: #FFF5CB;
    
}

* {
    box-sizing: border-box;
    display: block;
}


